/**
 * General Styles
 */
* {margin:0; padding:0;}
body {font:62.5% Helvetica, Arial, sans-serif; color:#777; padding:2em;}
h1 {font-size:3em; font-weight:bold; margin-bottom:.3em;}
h2 {font-size:2em; font-weight:bold; margin:1em 0;}
a {color:orange;}

/**
 * Image Styles
 */
img.headerImage,
img.defaultImage {border:1px solid #999;}
img.headerImage {display:block; margin:0 auto .6em;}
img.defaultImage {display:inline-block;}

/**
 * Layout Specific Styles
 */
.nav {list-style:none; font-size:1.2em; margin:1em 0 0;}
.nav li {display:inline; margin-right:.6em;}
.item {float:left; margin:0 1.5em 1.5em 0; text-align:center;}
.item img.headerImage {margin-right:auto; width:106px; height:130px;}
.item img {margin-right:.3em; width:170px; height:100px;}

/**
 * Dialog Styles
 */
.dialogVisible {position:fixed; z-index:1; top:0; right:0; bottom:0; left:0; background:#000; opacity:.8;}
.enable {display:block;}
.disable {display:none;}
#dialogWrapper {position:absolute; top:20px; left:0; z-index:2; width:100%; line-height:0;}
#dialogContent {display:none; position:relative; width:1180px; margin:0 auto 20px; padding:20px; background:#fff; text-align:center; -moz-border-radius:8px; border-radius:8px; -moz-box-shadow:0 0 20px #000; -webkit-box-shadow:0 0 20px #000; box-shadow:0 0 20px #000;}
#dialogContent img.headerImage {margin-right:auto; width:387px; height:472px;}
#dialogContent img {width:575px; height:350px; margin-right:.6em;}

/**
 * Dialog Close Styles
 */
a#dialogClose {position:absolute; top:-10px; right:-10px; width:23px; height:23px; line-height:23px; background:#000; color:#fff; font-size:13px; text-decoration:none; -moz-border-radius:10px; border-radius:10px; -moz-box-shadow: 2px 2px 5px #000; -webkit-box-shadow: 2px 2px 5px #000; box-shadow: 2px 2px 5px #000;}

